title = "Home page"
url = "/index.php"
layout = "default"
is_hidden = 0
==
<section class="home-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Events and Planning</h3>
                <p>Being a leader in quality tents, styling and friendly pricing, we aim at providing a catering team for all occassions, from birthday events to weddings and funerals.</p>
                <div class="signup-form">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Your E-mail">
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Confirmation">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-info">Sign Up</button>
                        </div>
                    </form>
                </div>
                <div class="additional-links">
                    By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-1 player-wrapper">
           
            <h4 class="headline"><span>Seasoned Occasion</span></h4>
            <div class="video-container">
                <iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="1000" height="500"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>

            </div>
        </div>
    </div>
</section>


<br />

<div class="container">

    <!-- Services -->
    <div class="row our-services">
        <div class="col-sm-12">
            <h4 class="headline"><span>What we do</span></h4>
            <p>Not all tents are created equal, with yurts, katas, tipis and tents, we've come up with different options for your event.</p>

            {% partial 'services' %}
        </div>
    </div>

    <div class="recent-tweets">
        <h4 class="headline"><span>Recent tweets</span></h4>
        <div class="tweet">
            <i class="fa fa-twitter"></i>
            <p>
                Salami turkey jowl rump jerky ball tip drumstick ground round tenderloin kielbasa hamburger prosciutto.
                <a href="#">1 day ago</a>
            </p>
        </div>
        <div class="tweet">
            <i class="fa fa-twitter"></i>
            <p>
                Short loin pork belly beef, tenderloin swine ribeye tri-tip doner salami rump hamburger.
                <a href="#">2 days ago</a>
            </p>
        </div>
    </div>

</div>

<br />