[viewBag]
==
<!-- Search -->
<form role="form">
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search posts...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>

<!-- Categories -->
<div class="panel panel-default">
    <div class="panel-heading">
        Categories
    </div>
    <ul class="list-group filter-list-group">
        <li class="list-group-item"><a href="#">Databases</a> <span class="badge">13</span></li>
        <li class="list-group-item"><a href="#">Design</a> <span class="badge">24</span></li>
        <li class="list-group-item"><a href="#">Hardware</a> <span class="badge">12</span></li>
        <li class="list-group-item"><a href="#">Management</a> <span class="badge">18</span></li>
        <li class="list-group-item"><a href="#">Security</a> <span class="badge">2</span></li>
    </ul>
</div>