title = "Blog"
url = "/blog"
layout = "default"
is_hidden = 0
==
<section id="layout-title">
    <div class="container">
        <h3>Blog</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-9">

            <!-- Blog Post #1 -->
            <div class="blog">
                <img src="{{ 'assets/images/team/aleksey.png'|theme }}" alt="">
                <div class="blog-desc">
                    <h5>
                        <a href="{{ 'blog/post'|page }}">Children of the sun, see your time has just begun, searching for your ways, through adventures every day.</a>
                    </h5>
                    <hr />
                    <p class="text-muted">by John Doe on July 25, 2014</p>
                    <a href="{{ 'blog/post'|page }}"><img class="img-responsive" src="{{ 'assets/images/blog/post1.jpg'|theme }}" alt=""></a>
                    <p>Ten years ago a crack commando unit was sent to prison by a military court for a crime they didn't commit. These men promptly escaped from a maximum security stockade to the Los Angeles underground. Today, still wanted by the government, they survive as soldiers of fortune. If you have a problem and no one else can help, and if you can find them, maybe you can hire the A-team.</p>
                    <a class="btn btn-lg btn-default" href="{{ 'blog/post'|page }}">Read More...</a>
                </div>
            </div>

            <!-- Blog Post #2 -->
            <div class="blog">
                <img src="{{ 'assets/images/team/sam.png'|theme }}" alt="">
                <div class="blog-desc">
                    <h5>
                        <a href="{{ 'blog/post'|page }}">Barnaby The Bear's my name, never call me Jack or James, I will sing my way to fame.</a>
                    </h5>
                    <hr />
                    <p class="text-muted">by John Doe on July 15, 2014</p>
                    <a href="{{ 'blog/post'|page }}"><img class="img-responsive" src="{{ 'assets/images/blog/post2.jpg'|theme }}" alt=""></a>
                    <p>I never spend much time in school but I taught ladies plenty. It's true I hire my body out for pay, hey hey. I've gotten burned over Cheryl Tiegs, blown up for Raquel Welch. But when I end up in the hay it's only hay, hey hey. I might jump an open drawbridge, or Tarzan from a vine. 'Cause I'm the unknown stuntman that makes Eastwood look so fine.</p>
                    <a class="btn btn-lg btn-default" href="{{ 'blog/post'|page }}">Read More...</a>
                </div>
            </div>

            
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-3">

          

        </div>
    </div>
</div>