title = "Post"
url = "/blog/post"
layout = "default"
is_hidden = 0
==
<section id="layout-title">
    <div class="container">
        <h3>Blog Post</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-9">

            <!-- Blog Post #1 -->
            <div class="blog">
                <img src="{{ 'assets/images/team/aleksey.png'|theme }}" alt="">
                <div class="blog-desc">
                    <h5>Children of the sun, see your time has just begun, searching for your ways, through adventures every day.</h5>
                    <hr />
                    <p class="text-muted">by John Doe on July 25, 2014</p>
                    <a href="{{ 'blog/post'|page }}"><img class="img-responsive" src="{{ 'assets/images/blog/post1.jpg'|theme }}" alt=""></a>
                    <p>Ten years ago a crack commando unit was sent to prison by a military court for a crime they didn't commit. These men promptly escaped from a maximum security stockade to the Los Angeles underground. Today, still wanted by the government, they survive as soldiers of fortune. If you have a problem and no one else can help, and if you can find them, maybe you can hire the A-team.</p>
                    <p>Knight Rider, a shadowy flight into the dangerous world of a man who does not exist. Michael Knight, a young loner on a crusade to champion the cause of the innocent, the helpless in a world of criminals who operate above the law.</p>
                    <p>Mutley, you snickering, floppy eared hound. When courage is needed, you're never around. Those medals you wear on your moth-eaten chest should be there for bungling at which you are best. So, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon. Howwww! Nab him, jab him, tab him, grab him, stop that pigeon now.</p>
                </div>
            </div>

        
            <div class="clearfix"></div>

        </div>
        <div class="col-sm-3">

            

        </div>
    </div>
</div>