title = "About"
url = "/about"
layout = "default"
is_hidden = 0
==
<section id="layout-title">
    <div class="container">
        <h3>About us</h3>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-sm-7">
            <h4 class="headline"><span>Welcome</span></h4>
            <p>At Seasoned Occasion, we deal in a variety of sizes and designs for tents, furniture, garden umbrellas, lighting, portable restrooms, flower arrangement and all linen and decorations.
            
As a result of our quality products, you can be guaranted an event like no other. We meet all your events requirements efficiently and reliably. If you need quality and reliability at friendly rates, then go no further...</p>
            <p>Seasoned occasion is the place to go.</p>
            <p><a href="{{ 'samples/contact'|page }}" class="btn btn-lg btn-primary">Contact Us</a></p>
        </div>
        <div class="col-sm-5">
            <h4 class="headline"><span>Video intro</span></h4>
            <div class="video-container">
                <iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row our-team">
        <div class="col-sm-12">
            <h4 class="headline"><span>Our team</span></h4>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="team-member text-center">
                        <img class="img-responsive center-block" src="{{ 'assets/images/team/aleksey.png'|theme }}" alt="">
                        <div class="info">
                            John Doe
                            <p class="text-muted">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="team-member text-center">
                        <img class="img-responsive center-block" src="{{ 'assets/images/team/sam.png'|theme }}" alt="">
                        <div class="info">
                            John Doe
                            <p class="text-muted">Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="team-member text-center">
                        <img class="img-responsive center-block" src="{{ 'assets/images/team/aleksey.png'|theme }}" alt="">
                        <div class="info">
                            John Doe
                            <p class="text-muted">Sales</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="team-member text-center">
                        <img class="img-responsive center-block" src="{{ 'assets/images/team/sam.png'|theme }}" alt="">
                        <div class="info">
                            John Doe
                            <p class="text-muted">Admin Team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>