title = "Services"
url = "/services"
layout = "default"
is_hidden = 0
==
<section id="layout-title">
    <div class="container">
        <h3>Services</h3>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-sm-7">
            <h4 class="headline"><span>Company intro</span></h4>
            <p>There's a voice that keeps on calling me. Down the road, that's where I'll always be. Every stop I make, I make a new friend. Can't stay for long, just turn around and I'm gone again. Maybe tomorrow, I'll want to settle down, Until tomorrow, I'll just keep moving on.</p>

            <div class="callout callout-info">
                <p>To create something exceptional, your mindsetmust be focused on the smallest details.</p>
            </div>

        </div>
        <div class="col-sm-5">
            <h4 class="headline"><span>Our vision</span></h4>
            <div class="video-container">
                <iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row our-services">
        <div class="col-sm-12">
            <h4 class="headline"><span>Services provided by Seasoned Occsion</span></h4>
        
            
            {% partial 'services' %}
        </div>
    </div>

</div>